@model ConstosoUniversity.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student data</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EnrollmentDate)</dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-10">@Html.DisplayFor(model => model.EnrollmentDate)</dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-itemid="@Model.ID">Edit</a>
    <a aso-action="Index">Back to List</a>
</div>